$primary: #FFCC00;
$secondary: #140533;
$font-family-sans-serif: "Proxima Nova", "Roboto", "Apple Color Emoji", Calibri, Arial, sans-serif;
@import "../bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;700&display=swap');
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-light-webfont.woff");
  font-weight: 300;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-regular-webfont.woff");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-semibold-webfont2.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/proximanova-bold-webfont.woff");
  font-weight: 700;
}

@keyframes fadeInX {
  0% {
    opacity: 0;
    transform: translateX(10vw);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInY {
  0% {
    opacity: 0;
    transform: translateY(10vh);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes line-bounce {
  0% {
    left: 100%;
    width: 0;
    height: 1px;
  }
  33% {
    left: 0;
    width: 100%;
    height: 1px;
  }
  66% {
    left: 0;
    width: 0;
    height: 1px;
  }
  100% {
    left: 0;
    width: 100%;
    height: 2px;
  }
}

@keyframes background-animator {
  0%,
  to {
    transform:translate(50px,50px)
  }
  50% {
    transform:translate(-50px,-50px)
  }
}

body {
  font-family: "Roboto", "Noto Sans TC", "Apple Color Emoji", Calibri, Arial, sans-serif;
  color: #eeeeee;
  background: #140533;
}

#nav-bar::before {
  position: absolute;
  content: " ";
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #290A66 linear-gradient(420.69deg, #2E0B73 0%, #140533 100%);
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  -ms-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

#nav-bar.bg-purple-gradient::before {
  content: " ";
  opacity: 1;
}

.navbar-brand {
  -webkit-filter: drop-shadow(1px 1px 2px #140533);
  filter: drop-shadow(1px 1px 2px #140533);
}

div > .btn, li > .btn {
  padding: 0.25rem 1.5rem;
  min-width: 125px;
  max-width: 200px;
  transition: all 0.15s ease-in-out;
}

div .btn-outline-primary {
  text-shadow: 1px 1px 1px #140533;
}

div .btn-outline-primary:hover {
  text-shadow: none;
}

.description {
  line-height: 1.167em;
}

/* For all smaller screens */
@media (max-width: 767px) {
  #join-btn, #lang-btn {
    width: 100%;
    min-width: unset;
    max-width: unset;
    margin: 5px 0 !important;
  }

  div > #hello-con {
    font-size: 32px;
  }

  div > #qcac-con, div > #qc-con {
    font-size: 32px;
  }

  div > #ac-con {
    font-size: 36px;
  }

  div > #description-con {
    font-size: 20px;
  }

  div > .explore-section-light, div > .explore-section-dark {
    flex-direction: column;
    justify-content: center;
  }

  div > .explore-image {
    width: 100%;
    max-height: 240px;
  }

  div > .explore-text.explore-text {
    width: 100%;
    margin: 24px 0 0 0;
  }
}

/* For mobile phones: */
@media (max-width: 576px) {
  div > #blurb-con {
    padding: 0 15px;
    text-align: center;
  }

  div > #qcac-con {
    width: min-content;
    margin: 0 auto;
  }

  div > #description-con {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  div > #blurb-learn, div > #blurb-join {
    float: none;
    margin: auto;
    text-align: center;
    width: 60%;
  }

  div > #blurb-learn-con, div > #blurb-join-con {
    float: none;
    margin: auto;
    text-align: center;
  }

  div > #blurb-or-con {
    float: none;
    margin: auto;
    padding-top: 8px;
    text-align: center;
    font-size: 20px;
    line-height: 22px;
  }

  div > .explore-section-light, div > .explore-section-dark {
    padding: 0 5%;
  }

  div > #explore1-description {
    font-size: 20px;
  }

  div > .description {
    font-size: 20px;
  }
}

/* Only for normal mobile phones*/
@media (max-width: 576px) and (min-width: 370px) {
}

/* Only for XS mobile phones*/
@media (max-width: 370px) {
  div .social-icon {
    width: 80px;
  }
}

#content {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

#poster-con {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: max(560px, 100vh);
  overflow: hidden;
}

#poster {
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  height: 100%;
  width: max(178vh, 996px); /* 100 * 16 / 9 */
  min-width: 100%;
  min-height: max(57vw, 560px); /* 100 * 9 / 16 */
  transform: translate(-50%, min(-50%, -250px)); /* % of current element */
}

#blurb-con {
  width: 100%;
  margin: 100px auto 0 auto;
  padding: 0 75px;
  text-shadow: 1px 1px 2px #140533;
  cursor: default;
  position: absolute;
  top: 0;
  left: 0;
}

#hello-con {
  font-weight: 300;
  font-size: 48px;
  line-height: 1.8em;
}

#qcac-con {
  position: relative;
  width: max-content;
  padding: 5px 0;
  animation: fadeInX ease .5s;
}

#qcac-con::before {
  display: block;
  content: " ";
  font-size: 48px;
  width: 1.2em;
  height: .5em;
  position: absolute;
  top: 0;
  left: -.3em;
  border-top: 4px solid #ffcc00;
  border-left: 4px solid #ffcc00;
  animation: flash ease-in-out .25s 2 backwards .5s;
}

#qcac-con::after {
  display: block;
  content: " ";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #FFCC00;
  animation: line-bounce ease-in-out 1s backwards .5s;
}

#qc-con, #qcac-con {
  font-weight: 500;
  font-size: 48px;
  line-height: 1.3em;
}

#ac-con {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1em;
  text-transform: uppercase;
}

#description-con {
  font-size: 24px;
  max-width: 616px;
  margin: 1em 0;
  animation: fadeInY ease 1s backwards 1.5s;
}

#buttons-con {
  animation: fadeInY ease 1s backwards 2s;
}

#buttons-con * {
  float: left;
}

#blurb-or-con {
  height: 40px;
  width: 24px;
  font-size: 20px;
  line-height: 26px;
  margin: 0 25px;
  text-align: center;
  padding-top: 4px;
  text-shadow: 1px 1px 2px #182639;
  padding-left: 0;
}

#blurb-join {
  text-shadow: none;
}

#explore-background-con {
  width: 100%;
  position: absolute;
  top: 550px;
  left: 0;
  z-index: -10;
}

h1, h2, h3, h4, h5, h6 {
  width: 100%;
  font-family: "Proxima Nova", "Roboto", "Noto Sans TC", "Apple Color Emoji", Calibri, Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  margin: 0;
}

h2::after {
  content: "";
  display: block;
  height: 2px;
  max-width: 240px;
  margin: 4px 0;
  background: #FFCC00;
}

div .fade-in {
  opacity: 0;
}

div .fade-in.visible {
  opacity: 1;
  animation: fadeInY ease 1s;
}

.explore-section-light, .explore-section-dark {
  width: 100%;
  height: 550px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 75px;
  justify-content: space-between;
}

.explore-section-dark {
  flex-direction: row;
}

.explore-section-light {
  flex-direction: row-reverse;
}

.explore-text {
  position: relative;
}

.explore-text::after {
  display: block;
  content: " ";
  width: 50px;
  height: 20px;
  position: absolute;
  bottom: -10px;
  right: 0;
  border-bottom: 2px solid #ffcc00;
  border-right: 2px solid #ffcc00;
}

.explore-image {
  position: relative;
  width: 600px;
  height: 360px;
  background-size: cover;
}

.explore-image::before {
  content: " ";
  position: absolute;
  top: 8px;
  left: -16px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.qc.explore-section-dark .explore-image::before {
  background: #240959;
  mix-blend-mode: lighten;
}

.qc.explore-section-light .explore-image::before {
  background: #2E0B73;
  mix-blend-mode: darken;
}

.tt.explore-section-dark .explore-image::before {
  background: #092A59;
  mix-blend-mode: lighten;
}

.tt.explore-section-light .explore-image::before {
  background: #0B3773;
  mix-blend-mode: darken;
}

.explore-image::after {
  content: " ";
  position: absolute;
  top: 16px;
  left: 32px;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.qc.explore-section-dark .explore-image::after {
  background: repeating-linear-gradient(0deg, transparent, transparent 2px, #140533 2px, #140533 10px), repeating-linear-gradient(-90deg, #5C17E6, #5C17E6 2px, #140533 2px, #140533 10px);
  mix-blend-mode: lighten;
}

.qc.explore-section-light .explore-image::after {
  background: repeating-linear-gradient(0deg, transparent, transparent 2px, #3D0F99 2px, #3D0F99 10px), repeating-linear-gradient(-90deg, #000, #000 2px, #3D0F99 2px, #3D0F99 10px);
  mix-blend-mode: darken;
}

.tt.explore-section-dark .explore-image::after {
  background: repeating-linear-gradient(0deg, transparent, transparent 2px, #081833 2px, #081833 10px), repeating-linear-gradient(-90deg, #176DE6, #176DE6 2px, #081833 2px, #081833 10px);
  mix-blend-mode: lighten;
}

.tt.explore-section-light .explore-image::after {
  background: repeating-linear-gradient(0deg, transparent, transparent 2px, #0F4999 2px, #0F4999 10px), repeating-linear-gradient(-90deg, #000, #000 2px, #0F4999 2px, #0F4999 10px);
  mix-blend-mode: darken;
}

.explore-section-dark > .explore-text {
  width: 40%;
  margin-left: 5%;
}

.explore-section-light > .explore-text {
  width: 40%;
  margin-right: 5%;
}

.explore-description {
  padding-top: 10px;
}

#explore1 {
  height: 350px;
  flex-direction: column;
  justify-content: center;
}

#explore1-title {
  text-transform: uppercase;
  text-align: center;
}

#explore1-title::after {
  margin: 4px auto;
}

div hr {
  max-width: 240px;
  color: #FFCC00;
  margin: 4px 0;
  padding: 1px 0;
  opacity: 1;
}

.social-icon {
  width: 100px;
  flex-shrink: 1;
}

#explore1-icon-con {
  padding: 25px 20%;
}

#explore1-description {
  height: 38px;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.167em;
  text-align: center;
  padding: 0 15px;
}

#explore2-image {
  background: url("../img/qc1.jpg") no-repeat center/cover;
}

#explore3-image {
  background: url("../img/qc2.jpg") no-repeat center/cover;
}

#explore4-image {
  background: url("../img/qc3.jpg") no-repeat center/cover;
}

#explore6-image {
  background: url("../img/qc1.jpg") no-repeat center/cover;
}

#explore7-image {
  background: url("../img/qc2.jpg") no-repeat center/cover;
}

#explore8-image {
  background: url("../img/qc3.jpg") no-repeat center/cover;
}

#explore10-image {
  background: url("../img/qc3.jpg") no-repeat center/cover;
}

#explore5, #explore9 {
  flex-direction: column;
  justify-content: center;
}

.carousel {
  width: 100%;
  max-width: 900px;
  height: 450px;
}

.carousel-image {
  width: 100%;
  height: 450px;
}

.carousel-control-prev, .carousel-control-next {
  background: transparent;
  border: none;
  width: 10%;
  min-width: 50px;
}

#qc-carousel-image-1 {
  background: url("../img/inspire.jpg") no-repeat center/cover;
}

#qc-carousel-image-2 {
  background: url("../img/inspire.jpg") no-repeat center/cover;
}

#qc-carousel-image-3 {
  background: url("../img/inspire.jpg") no-repeat center/cover;
}

#tt-carousel-image-1 {
  background: url("../img/inspire.jpg") no-repeat center/cover;
}

#tt-carousel-image-2 {
  background: url("../img/inspire.jpg") no-repeat center/cover;
}

#tt-carousel-image-3 {
  background: url("../img/inspire.jpg") no-repeat center/cover;
}

#explore10 {
  text-shadow: 1px 1px 2px #140533;
}

#explore10-image::before, #explore10-image::after {
  content: none;
}

#join-team {
  margin-top: 10px;
}

#constellations-con {
  position: absolute;
  left: 0;
  top: 5250px;
  width: 100%;
  height: 710px;
  z-index: -11;
}

#constellations-con::after {
  content: "";
  background: #1F084D url("../img/sky.jpg") no-repeat center/cover;
  position: absolute;
  top: -50px;
  left: -50px;
  bottom: -50px;
  right: -50px;
  z-index: -13;
  animation-name: background-animator;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

#constellations-con::before {
  box-shadow: inset 0 0 50px 0 #140533;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.modal-content {
  background: #330D80;
}

.modal-header {
  border-bottom: 2px solid #FFCC00;
}

.modal-footer {
  border-top: none;
}

#footer {
  position: relative;
  padding-top: 50px;
  width: 100%;
  height: 100px;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.167em;
  text-align: center;
}

#footer a {
  color: #eeeeee;
}


