@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/proximanova-regular-webfont.woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/proximanova-bold-webfont.woff");
  font-weight: 700;
  font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Proxima Nova", "Roboto", "Apple Color Emoji", Calibri, Arial, sans-serif;
  color: #eee;
  background: #140533 radial-gradient(farthest-corner circle at center, #240959, #140533);
  font-size: 12px;
  line-height: 1.25;
  text-rendering: optimizeLegibility;
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  user-select: none;
}

header img {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 200px;
  height: 50px;
  opacity: 70%;
  z-index: 10;
  transform: translate(-50%, 0);

  &:hover {
    opacity: 1;
  }
}

#canvas {
  display: block;
  margin: 0 auto;
}

#gui_container {
  position: absolute;
  bottom: 20px;
  right: 0;
  text-align: center;
}
