$primary: #FFCC00;
$secondary: #140533;
$font-family-sans-serif: "Proxima Nova", "Roboto", "Apple Color Emoji", Calibri, Arial, sans-serif;
@import "../../bootstrap/scss/bootstrap";

@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/proximanova-light-webfont.woff");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../../fonts/proximanova-bold-webfont.woff");
  font-weight: 700;
  font-display: swap;
}

:root {
  --wall: #3a3442;
  --sky: #3a2e5d;
  --star: wheat;
  --cat: #131213;
  --frame: #221e28;
  --moon: #eacd97;
  --moon-new: #382c58;
  --frame-shadow: #86748f;
  --cloud: #322751;
  --crater: #f0e4d0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Noto Sans HK", "Apple Color Emoji", Calibri, Arial, sans-serif;
  color: #eeeeee;
  background: #140533;
  text-rendering: optimizeLegibility;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  user-select: none;
}

.room *,
.room *:before,
.room *:after,
.room:before,
.room:after {
  position: absolute;
  box-sizing: border-box;
  margin: auto;
}

.room *:before, .room *:after {
  content: "";
}

.room {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: var(--wall);
  background-image: repeating-linear-gradient(to right, #aaa, #aaa 3vmin, #bbb 3vmin, #bbb 6vmin);
  background-blend-mode: multiply;
}

.room:after {
  content: "";
  top: 40vmin;
  left: 50%;
  margin-left: -50vmin;
  border-bottom: calc(100vh - 40vmin) solid #fff1;
  border-left: 22.5vmin solid transparent;
  border-right: 22.5vmin solid transparent;
  height: 0;
  width: 100vmin;
}

.window {
  height: 70vmin;
  width: 58vmin;
  top: 10vmin;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--sky);
  border-radius: 50% 50% 0 0 / 40% 40% 0 0;
  overflow: hidden;
  z-index: 1;
}

.window::before {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 3vmin solid var(--frame);
  box-shadow: inset 0 0 0 1vmin var(--frame-shadow);
}

.window::after {
  width: calc(100% - 6vmin);
  height: 3vmin;
  border-bottom: 2vmin solid var(--frame);
  box-shadow: inset 0 0 0 1vmin var(--frame-shadow);
  top: 60%;
  left: 3vmin;
  z-index: 5;
}

.window-sill {
  top: 80vmin;
  width: 66vmin;
  height: 4vmin;
  left: 0;
  right: 0;
  border-bottom: 3vmin solid var(--frame);
  box-shadow: inset 5vmin 0 0 0 #4d3d55, inset -5vmin 0 0 0 #4d3d55, inset 0 0 0 1vmin var(--frame-shadow);
  z-index: 2;
}

.stars {
  border-radius: 50%;
  width: .125rem;
  height: .125rem;
  background: white;
  left: 30vmin;
  top: 10vmin;
  box-shadow: -20vmin 20vmin 0 -1px white, 10vmin 10vmin 0 1px #fff4, 11vmin 11vmin 0 -1px #fff;
  z-index: -6;
  filter: drop-shadow(0 0 3px white) drop-shadow(20vmin 10vmin 0 white) drop-shadow(-23vmin -5vmin 0 white) drop-shadow(-23vmin 5vmin 0 white);
}

.cloud {
  width: 6vmin;
  height: 2vmin;
  background: currentcolor;
  color: var(--cloud);
  top: 23vmin;
  left: 20vmin;
  border-radius: 1vmin;
  box-shadow: -4vmin -1.5vmin 0 currentcolor, 0 -1.5vmin 0 currentcolor, 2vmin -1.5vmin 0 currentcolor, -10vmin 1.5vmin 0 currentcolor, -5vmin 1.5vmin 0 currentcolor, 0vmin 1.5vmin 0 currentcolor, 5vmin 1.5vmin 0 currentcolor, -6vmin 3vmin 0 currentcolor, -8vmin 4.5vmin 0 currentcolor, -4vmin 4.5vmin 0 currentcolor, -4vmin 4.5vmin 0 currentcolor, -4vmin 4.5vmin 0 currentcolor, 3vmin 6vmin 0 currentcolor, 1vmin 7.5vmin 0 currentcolor;
  opacity: .8;
  z-index: -3;
  transform: translate3d(-40vmin, 10vmin, 0);
  animation: clouds 20s -5s linear infinite;
}

.cloud:before,
.cloud:after {
  box-shadow: inherit;
  background: inherit;
  width: 100%;
  height: 100%;
  border-radius: 1vmin;
  transform: translate3d(-30vmin, 10vmin, 0);
}

.cloud:after {
  transform: translate3d(-60vmin, -20vmin, 0);
}

@keyframes clouds {
  100% {
    transform: translate3d(90vmin, 0, 0);
  }
}

.star {
  top: 30%;
  right: 15vmin;
  color: var(--star);
  width: 0;
  height: 0;
  border-right: 1vmin solid transparent;
  border-bottom: .7vmin solid currentColor;
  border-left: 1vmin solid transparent;
  transform: scale(.5) rotate(35deg);
  filter: drop-shadow(-30vmin 40vmin 0 currentColor) drop-shadow(-15vmin 45vmin 2px currentColor);
  z-index: -5;
}

.star:before {
  border-bottom: .8vmin solid currentColor;
  border-left: .3vmin solid transparent;
  border-right: .3vmin solid transparent;
  height: 0;
  width: 0;
  top: -.4vmin;
  left: -.6vmin;
  content: '';
  transform: rotate(-35deg);
}

.star:after {
  top: 0;
  left: -1vmin;
  width: 0;
  height: 0;
  border-right: 1vmin solid transparent;
  border-bottom: .7vmin solid currentColor;
  border-left: 1vmin solid transparent;
  transform: rotate(-70deg);
}

.moon {
  width: 8vmin;
  height: 8vmin;
  border-radius: 50%;
  left: 36vmin;
  top: 25vmin;
  z-index: -4;
  overflow: hidden;
  background-color: var(--sky);

  &:after {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--moon);
    box-shadow: 0 0 1vmin pink;
  }

  &:before {
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-image: radial-gradient(circle, var(--crater) 0%, var(--crater) 25%, transparent 25%), radial-gradient(circle, var(--crater) 0%, var(--crater) 20%, transparent 20%), radial-gradient(circle, var(--crater) 0%, var(--crater) 25%, transparent 25%), radial-gradient(circle, var(--crater) 0%, var(--crater) 25%, transparent 25%), radial-gradient(circle, var(--crater) 0%, var(--crater) 25%, transparent 25%);
    background-position: 0 2.5vmin, 4vmin 4vmin, 4.5vmin 1vmin, 3vmin 3vmin, 2vmin 1vmin;
    background-repeat: no-repeat;
    background-size: 4vmin 6vmin, 4vmin 4vmin, 3vmin 3vmin, 2vmin 2vmin, 1.5vmin 2vmin;
    z-index: 2;
    mix-blend-mode: multiply;
    opacity: 1;
  }
}

[class*=moon-new-] {
  box-shadow: -1vmin 1vmin 2vmin -1.5vmin #ffc0cb, -1vmin -1vmin 2vmin -1.5vmin #ffc0cb, -1.5vmin 0 2vmin -2vmin #ffc0cb85;
}

[class*=moon-full-] {
  box-shadow: 1.5vmin 1vmin 2vmin -2vmin #ffc0cb, 1.5vmin -1vmin 2vmin -2vmin #ffc0cb, 1.5vmin 0 2vmin -2vmin #ffc0cb85;
}

.moon-new-1,
.moon-new-2,
.moon-new-3,
.moon-new-4,
.moon-new-5,
.moon-new-6,
.moon-new-7,
.moon-full-8,
.moon-full-9,
.moon-full-10,
.moon-full-11,
.moon-full-12,
.moon-full-13,
.moon-full-14 {
  &:after {
    background: var(--sky);
  }
}

.moon-new-1,
.moon-new-2,
.moon-new-3,
.moon-new-4,
.moon-new-5,
.moon-new-6,
.moon-new-7 {
  background: linear-gradient(90deg, var(--moon) 4vmin, transparent 0);
}

.moon-full-14,
.moon-full-13,
.moon-full-12,
.moon-full-11,
.moon-full-10,
.moon-full-9,
.moon-full-8 {
  background: linear-gradient(90deg, transparent 4vmin, var(--moon) 0);
}

.moon-full-14,
.moon-full-13,
.moon-full-12,
.moon-full-11,
.moon-full-10,
.moon-full-9,
.moon-full-8 {
  &:after {
    box-shadow: inset -1vmin 0 1.5vmin -1vmin pink;
  }
}

.moon-full-14,
.moon-full-13,
.moon-full-12 {
  &:after {
    width: 95%;
    border-radius: 4vmin;
  }

}

.moon-full-11 {
  &:after {
    width: 90%;
    border-radius: 4vmin 3.5vmin 3.5vmin 4vmin  / 4vmin 50% 50% 4vmin;
  }
}

.moon-full-10 {
  &:after {
    width: 85%;
    border-radius: 0 3vmin 3vmin 0  / 0 50% 50% 0;
  }

}

.moon-full-9 {
  &:after {
    width: 76%;
    border-radius: 0 2vmin 2vmin 0  / 0 50% 50% 0;
  }

}

.moon-full-8 {
  &:after {
    width: 60%;
    height: 120%;
    border-radius: 0 1.5vmin 1.5vmin 0  / 0 50% 50% 0;
  }
}

.moon-new-1,
.moon-new-2,
.moon-new-4,
.moon-new-3,
.moon-new-5,
.moon-new-6,
.moon-new-7,
.moon-full-7,
.moon-full-6,
.moon-full-5,
.moon-full-4,
.moon-full-3,
.moon-full-2,
.moon-full-1 {
  &:after {
    right: 0;
    left: auto;
  }
}

.moon-full-7 {
  &:after {
    width: 50%;
    height: 140%;
    border-radius: 0 50% 50% 0;
  }

}

.moon-full-6 {
  &:after {
    width: 60%;
    height: 140%;
    border-radius: 50%;
  }

}

.moon-full-5 {
  &:after {
    width: 70%;
    border-radius: 2.5vmin 0 0 2.5vmin  / 50% 0 0 50%;
  }

}

.moon-full-4 {
  &:after {
    width: 75%;
    border-radius: 2vmin 0 0 2vmin  / 4vmin 0 0 4vmin;
  }
}

.moon-full-3 {
  &:after {
    width: 86%;
    border-radius: 3vmin 0 0 3vmin  / 4vmin 0 0 4vmin;
  }

}

.moon-full-2,
.moon-full-1 {
  &:after {
    width: 90%;
    border-radius: 4vmin 0 0 4vmin;
  }
}

.moon-full {
  box-shadow: 0 0 3vmin -1vmin pink, 0 0 1.5vmin -.25vmin pink;
}

.moon-new-14,
.moon-new-13,
.moon-new-12 {
  &:after {
    width: 90%;
    border-radius: 0 3.5vmin 3.5vmin 0 / 0 4vmin 4vmin 0;
  }
}

.moon-new-11 {
  &:after {
    width: 85%;
    border-radius: 0 3vmin 3vmin 0 / 0 4vmin 4vmin 0;
  }
}

.moon-new-10 {
  &:after {
    width: 75%;
    border-radius: 0 2vmin 2vmin 0 / 0 4vmin 4vmin 0;
  }
}

.moon-new-9 {
  &:after {
    width: 60%;
    border-radius: 0 1vmin 1vmin 0 / 0 4vmin 4vmin 0;
  }
}

.moon-new-8 {
  &:after {
    width: 50%;
    border-radius: 0;
  }
}

.moon-new-1,
.moon-new-2,
.moon-new-3,
.moon-new-4,
.moon-new-5,
.moon-new-6,
.moon-new-7 {
  &:after {
    box-shadow: inset 1vmin 0 1.5vmin -1vmin pink;
  }
}

.moon-new-5,
.moon-new-6,
.moon-new-7 {
  &:after {
    height: 140%;
    width: 60%;
    border-radius: 50%;
  }
}

.moon-new-4,
.moon-new-3 {
  &:after {
    width: 78%;
    border-radius: 2.25vmin 0 0 2.25vmin / 50% 0 0 50%;
  }
}

.moon-new-2 {
  &:after {
    width: 88%;
    border-radius: 3.25vmin 0 0 3.25vmin / 50% 0 0 50%;
  }
}

.moon-new-1 {
  &:after {
    width: 96%;
    border-radius: 4vmin 0 0 4vmin;
  }
}

.moon-new {
  background: var(--moon-new);

  &:after {
    width: 0;
  }

  &:before {
    opacity: .15;
  }
}

.cat {
  color: var(--cat);
  background: currentcolor;
  height: 20vmin;
  width: 22vmin;
  bottom: 0;
  border-radius: 6vmin 50% 0 0;
  z-index: 4;
}

.tail {
  width: 22vmin;
  height: 0;
  color: inherit;
  bottom: 0;
  left: 100%;
  border: 3vmin solid;
  border-left: 0;
  border-top: 0;
  border-radius: 0 0 5vmin 0;
  animation: tail 10s infinite;
}

.tail:after {
  width: 3vmin;
  height: 3vmin;
  border-radius: 50%;
  background: var(--cat);
  top: -1.5vmin;
  right: -3vmin;

}

@keyframes tail {
  10%, 30% {
    height: 6vmin;
    width: 15vmin;
  }
  20%, 35%, 75%, 100% {
    height: 0;
    width: 22vmin;
  }
  60% {
    height: 4vmin;
    width: 20vmin;
  }
}

.head {
  background: inherit;
  left: 0;
  bottom: 10vmin;
  width: 10vmin;
  height: 18vmin;
  border-radius: 5vmin 5vmin 0 0;
  animation: head-move 6s -2s infinite alternate;
}

.head:before,
.head:after {
  width: 0;
  height: 0;
  top: -1.6vmin;
  border-bottom: 6vmin solid;
}

.head:before {
  border-right: 7vmin solid transparent;
  animation: ears-move-l 6s infinite alternate;
}

.head:after {
  border-left: 7vmin solid transparent;
  right: 0;
  animation: ears-move-r 6s infinite alternate;
}

.eyes {
  border-radius: 50%;
  width: 1vmin;
  height: 1vmin;
  background: var(--frame-shadow);
  top: 4vmin;
  left: 3vmin;
  z-index: 1;
  box-shadow: 3vmin 0 0 var(--frame-shadow);
  animation: eyes-move 6s -.5s infinite alternate;
}

@keyframes head-move {
  25%, 100% {
    transform: translate3d(0, 5vmin, 0)
  }
}

@keyframes ears-move-l {
  25%, 100% {
    transform: translate3d(1vmin, -.5vmin, 0)
  }
}

@keyframes ears-move-r {
  25%, 100% {
    transform: translate3d(-.5vmin, -.5vmin, 0)
  }
}

@keyframes eyes-move {
  25%, 100% {
    transform: translate3d(2.5vmin, -1vmin, 0)
  }
}

.roof {
  width: 5vmin;
  height: 12vmin;
  color: #221b35;
  background: currentcolor;
  bottom: 4vmin;
  right: 2vmin;
  z-index: -2;
  filter: drop-shadow(-6vmin 5vmin 0 currentcolor) drop-shadow(-6vmin -1vmin 0 currentcolor) drop-shadow(-16vmin 1vmin 0 currentcolor) drop-shadow(-8vmin -2vmin 0 #352b53) drop-shadow(0vmin 4vmin 3vmin #a18b9f);

  &:before {
    width: 3vmin;
    height: 7vmin;
    bottom: 2vmin;
    left: -10vmin;
    background: currentcolor;
    box-shadow: 6vmin .5vmin 0 0 currentcolor;
  }
}

.bush {
  width: 15vmin;
  height: 10vmin;
  color: #131515;
  background: currentcolor;
  border-radius: 50vmin 50vmin 0 0;
  bottom: 1vmin;
  right: 0;
  box-shadow: -6vmin 2vmin 0 -2vmin currentcolor, -12vmin 2vmin 0 -2vmin currentcolor, -18vmin 3vmin 0 -3vmin currentcolor, -22vmin 3vmin 0 0vmin currentcolor, -32vmin 3vmin 0 2vmin currentcolor;
  z-index: -1;
}

.info {
  font-family: "Proxima Nova", "Roboto", "Noto Sans HK", "Apple Color Emoji", Calibri, Arial, sans-serif;
  top: 40vmin;
  right: calc(50% - 46vmin);
  z-index: 0;
  width: 15vmin;
  height: 20vmin;
  color: #000;
  line-height: 1.1;
  background: #807b86;
  border-radius: 0 0 0 0;
  text-align: center;
  box-shadow: -2px 4px 0 -2px #221e28, 0px 8px 0 -4px #36333a, 0px 12px 0 -6px #1a171e;

  &:after {
    width: 1vmin;
    height: 1vmin;
    background: currentcolor;
    border-radius: 50%;
    top: 1vmin;
    box-shadow: 0 0 .125vmin .25vmin #56505d;
    transform: translateX(-50%);
  }
}

.today {
  width: 100%;
  height: 85%;
  top: 15%;
  background: inherit;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  box-shadow: inset 0 .25vmin #56505d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top: .3275vmin dashed #1b171f;
  font-size: .5vmin;
  font-weight: 700;
  padding: 1vmin;

  span {
    position: static;
    font-size: 3.5vmin;
  }

  #in {
    font-size: 2vmin;
    height: 0;
    margin: 0;
    transform: translateY(-.5em);
  }

  #count {
    font-size: 3vmin;
  }
}

iframe {
  display: block;
  border: none;
  margin: auto;
  width: 100%;
  overflow: hidden;
  filter: brightness(.75);

  &:nth-of-type(1) {
    height: calc(705px + 4vw);
  }

  &:nth-of-type(2) {
    height: 100vh;
  }
}

h5 {
  width: 100%;
  font-family: "Proxima Nova", "Roboto", "Noto Sans HK", "Apple Color Emoji", Calibri, Arial, sans-serif;
  font-size: 28px;
  font-weight: 300;
  line-height: 32px;
  color: #fff;
  margin: 0;
}

.btn {
  padding: 0.25rem 1.5rem;
  min-width: 125px;
  max-width: 200px;
  transition: all 0.15s ease-in-out;
  pointer-events: all;
}

.modal-content {
  background: #330D80;
}

.modal-header {
  border-bottom: 2px solid #FFCC00;
}

.modal-footer {
  border-top: none;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 1440px;
  margin: 0 auto;
  padding-bottom: 1em;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  opacity: .5;

  img {
    width: 160px;
    margin: .5em;
    filter: brightness(0) invert(1) drop-shadow(1px 1px 2px #140533);;
  }

  nav {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
  }

  nav a {
    color: #eeeeee;
    text-decoration: none;
    font-weight: 400;
    padding: .25em;
    margin: .75em;

    &:hover {
      color: #FFCC00;
    }
  }
}

.footer-brand {
  display: inline-block;
}

#message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  z-index: -20;
}

.modal-body {
  h5 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }

  section:first-of-type h5 {
    margin-top: 2rem;
  }

  ul {
    margin-bottom: 0;
  }

  li {
    margin-bottom: 1rem;
  }
}

.card {
  background: #240959;
  margin-bottom: 2rem;
}

#things-you-should-know > p > a {
  display: inline-block;
  color: inherit;
  text-decoration: inherit;

  &::after {
    content: "Learn more";
    color: #FFCC00;
    text-decoration: underline;
  }
}

.license-brand {
  display: inline-block;
  margin-bottom: 1rem;
}

#GPL-logo {
  filter: grayscale(.4) brightness(2) drop-shadow(0 0 2px #000);
}

@media (max-width: 449.98px) {
  iframe {
    height: 655px;
  }
}

/* Only for XS mobile phones*/
@media (max-width: 369.98px) {
  h5 {
    font-size: 24px;
    line-height: 28px;
  }
}
